/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
 
   ========================================================================== */
body {
    overflow-x: hidden;
overflow-x: 90%;
}   
.banner,
.top-section,
.middle-section,
.bottom-section {
    width: 100%;
    min-height: 400px;
    padding: 50px;
    color: #C2B2B2;
    position: relative;
    z-index: 2;
}

.banner {
    background-color: #3F4E85;
   
}

.top-section {
    background-color: #4C5C96;
}

.middle-section {
    background-color: #45558D;
}

.bottom-section {
    background: #3F4E85;
}

.footer-background {
    width: 100%;
    min-height: 250px;
    color: #e7e7e7;
    position: relative;
    z-index: 2;
    background-color: #454A57;
}

.banner:before {
    content: '';
    position: absolute;
    top: -100px;
    right: -10px;
    width: 110%;
    height: 150px;
    background: #45558D;
    display: block;
    transform-origin: right center;
    transform: rotate(-3deg);
    z-index: 2;
}

.top-section:before {
    content: '';
    position: absolute;
    top: -100px;
    left: -10px;
    width: 110%;
    height: 150px;
    background-image:img/download.jpg;
    display: block;
    transform-origin: left center;
    transform: rotate(3deg);
    z-index: 6;
}

.middle-section:before {
    content: '';
    position: absolute;
    top: -100px;
    right: -10px;
    width: 110%;
    height: 150px;
    background: #45558D;
    display: block;
    transform-origin: right center;
    transform: rotate(-3deg);
    z-index: 6;
}

.bottom-section:before {
    content: '';
    position: absolute;
    top: -100px;
    left: -10px;
    width: 110%;
    height: 150px;
    background: #3F4E85;
    display: block;
    transform-origin: left center;
    transform: rotate(3deg);
    z-index: 6;
}

.footer-background:before {
    content: '';
    position: absolute;
    top: -100px;
    right: -10px;
    width: 110%;
    height: 150px;
    background: #454A57;
    display: block;
    transform-origin: right center;
    transform: rotate(-3deg);
}

.content {
    width: 100%;
    margin: auto;
    padding: 5px;
    position: relative;
    top: -50px;
    z-index: 20;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.bio-pic {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: relative;
}

.portfolio-image {
    width: 300px;
    height: 300px;
    position: relative;
    background: #FFF;
    border-radius: 20px;
    overflow: hidden;
}

.pack-admin-portfolio {
    width: 300px;
    position: relative;
}

.transparent-background {
    background: transparent;
}

.scout-background-color {
    background-color: #0E374B;
}

.gol-image {
    max-width: 300px;
    border-radius: 15px;
    border: 3px solid #333;
}

.content-text {
    max-width: 400px;
    min-width: 300px;
    text-align: right;
    padding: 5px;
}

.content-text-even {
    max-width: 400px;
    min-width: 300px;
    text-align: left;
    padding: 5px;
}

.social-icons {
    min-width: 300px;
    text-align: center;
}

.link-to .glyphicon-menu-right {
    border-radius: 100%;
    border: 3px solid #e7e7e7;
    width: 36px;
    height: 36px;
    padding: 5px;
    margin-right: 10px;
}

.link-to {
    color: #e7e7e7;
}

.portfolio-mock,
.blog-mock,
.codepen-mock {
    width: 300px;
    height: 250px;
    border: 3px solid #e7e7e7;
    border-radius: 10px;
    position: relative;
    padding-top: 70px;
    padding-left: 36px;
    padding-right: 36px;
}

.portfolio-mock:before {
    content: 'Portfolio';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    border-bottom: 3px solid #e7e7e7;
    font-size: 24px;
    text-align: center;
}

.portfolio-mock p,
.blog-mock p,
.codepen-mock p {
    font-size: 36px;
    font-weight: bold;
}

.portfolio-mock p:last-of-type,
.blog-mock p:last-of-type,
.codepen-mock p:last-of-type {
    text-align: right;
}

.blog-mock:before {
    content: 'Youtube';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    border-bottom: 3px solid #e7e7e7;
    font-size: 24px;
    text-align: center;
}

.codepen-mock:before {
    content: 'Codepen';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    border-bottom: 3px solid #e7e7e7;
    font-size: 24px;
    text-align: center;
}

.social-icons a {
    font-size: 54px;
    margin-right: 8px;
    color: #e7e7e7;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
